@model Falcon_Blog.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

    <div class="container pt-5">

        <h2>@ViewBag.Title.</h2>

        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Change your account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt class="p-2">Password:</dt>
                <dd>
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword", "Manage", null, new { @class="btn btn-dark" })
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                </dd>
                <dt class="p-2 pt-3">External Logins: @Model.Logins.Count</dt>
                <dd>
                    
                    @Html.ActionLink("Manage", "ManageLogins", "Manage", null, new { @class="btn btn-dark" })

            </dl>
        </div>
    </div>